
<%= render partial: 'errors', locals: {object: @brew} %>

<%= form_for(@brew) do |f| %>
    <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>
    <br>
    <div>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
    </div>
    <br>
    <div>
    <%= f.label :grind_size %>
    <%= f.number_field :grind_size %>
    </div>
    <br>
    <div>
    <%= f.label :dose %>
    <%= f.number_field :dose %>
    </div>
    <br>
    <div>
    <%= f.label :extraction_time %>
    <%= f.number_field :extraction_time %>
    </div>
    <br>
    <div>
    <%= f.label :extraction_volume %>
    <%= f.number_field :extraction_volume%>
    </div>
    <br>
    <%= f.submit %>
<% end %>