<h1>Name: <%= @brew.name %></h1>
<h2>Brand: <%= @brew.brand %></h2>
<h2>Grind Size: <%= @brew.grind_size %>
<h2>Brew Dose: <%= @brew.dose %>
<h2>Extraction Volume: <%= @brew.extraction_volume %>
<h2>Extraction Time: <%= @brew.extraction_time %>
<br>
<%= link_to "Add a comment", new_brew_comment_path(@brew) %>
<br>
<h2>Comments:</h2>
<% @brew.comments.each do |comment| %>
    <ul>
        <li> Username: <%= comment.user.username %> -- Comment:<%= comment.content %></li>
    </ul>
<% end %>

